#!/bin/bash
CPUTHRESHOLD="{{da_docker_instances_cpu_threshold}}"
RAMTHRESHOLD="{{da_docker_instances_ram_threshold}}"
INSTANCES_COUNT_FILE="{{da_docker_instances_count_file}}"
echo "---- Checking if containers are alive"
n=`cat $INSTANCES_COUNT_FILE`
nn=0
toCheck=""
prefix="etherpad_"
deploy=
for (( i=0; i<=$n; i++))
do
	container=$prefix$i
	status=`docker ps | grep $container`
	if [ -z "$status" ]; then
		echo "$container is down /!\\"
		deploy=true
	else
		echo "$container is up"
		toCheck="$toCheck $container"
		nn=$(($nn + 1))
	fi
done

echo "---- Checking stats for $nn containers"
statsFile="/tmp/dockerstats"
echo 0 > /tmp/sCPU
echo 0 > /tmp/sRAM
# Check stats
docker stats --no-stream $toCheck > $statsFile
# Aggro stats
cat $statsFile | grep $prefix | while read line; do
	#echo $line
	IFS=' ' read -ra arr <<< "$line"
	cpu=${arr[1]::-1}
	ram=${arr[7]::-1}

	sCPU=`cat /tmp/sCPU`
	echo $sCPU + $cpu | bc > /tmp/sCPU
	sRAM=`cat /tmp/sRAM`
	echo $sRAM + $ram | bc > /tmp/sRAM
done

sCPU=`cat /tmp/sCPU`
sRAM=`cat /tmp/sRAM`

# Yes, it's in /10 000
avgCPU=`echo "$sCPU * 100 / $nn" | bc`
avgRAM=`echo "$sRAM * 100 / $nn" | bc`

echo "Average CPU load: $avgCPU / 10000 - thr: $CPUTHRESHOLD"
echo "Average RAM load: $avgRAM / 10000 - thr: $RAMTHRESHOLD"

if [ $avgCPU -gt $CPUTHRESHOLD ] || [ $avgRAM -gt $RAMTHRESHOLD ]; then
	id=$(($n + 1))
	echo "Load too high, starting new instance etherpad_$id"
	echo $id > "$INSTANCES_COUNT_FILE"
	deploy=true
fi

if [ $deploy ]; then
	echo "---- Deploy needed, deploying"
	su vagrant -c "deploy_vagrant"
fi